@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif&display=swap');
  
.pic{
    background: #2980b9;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #2c3e50, #2980b9);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #2c3e50, #2980b9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
width: 100%;
}
 
.about p {
    border-right: .15em solid white;
    font-family: 'Roboto Serif', sans-serif;
    color: white;
    font-size: 30px;
    white-space: nowrap;
    overflow: hidden;
  }
  .about p:nth-child(1) {
    width: 19.5em;
    -webkit-animation: type 4s steps(44, end);
    animation: type 4s steps(44, end);
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
  }
  
  .about p:nth-child(2) {
    width: 19.5em;
    opacity: 0;
    -webkit-animation: type2 4s steps(44, end);
    animation: type2 4s steps(44, end);
    -webkit-animation-delay: 4s;
    animation-delay: 4s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
  }
  
  .about p:nth-child(3) {
    width: 19.5em;
    opacity: 0;
    -webkit-animation: type3 4s steps(44, end);
    animation: type3 4s steps(44, end);
    -webkit-animation-delay: 4s;
    animation-delay: 8s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
  }
  .about p:nth-child(4) {
    width: 19.5em;
    opacity: 0;
    -webkit-animation: type4 4s steps(44, end);
    animation: type4 4s steps(44, end);
    -webkit-animation-delay: 4s;
    animation-delay: 12s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
  }
  .about p:nth-child(5) {
    width: 19.8em;
    opacity: 0;
    -webkit-animation: type5 4s steps(44, end);
    animation: type5 4s steps(44, end);
    -webkit-animation-delay: 4s;
    animation-delay: 16s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
  }
  .about p:nth-child(6) {
    width: 12em;
    opacity: 0;
    -webkit-animation: type6 4s steps(44, end);
    animation: type6 4s steps(44, end);
    -webkit-animation-delay: 4s;
    animation-delay: 20s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
  }
  @keyframes type {
    0% {
      width: 0;
    }
    99.9% {
      border-right: .15em solid black;
    }
    100% {
      border: none;
    }
  }
  
  @-webkit-keyframes type {
    0% {
      width: 0;
    }
    99.9% {
      border-right: .15em solid black;
    }
    100% {
      border: none;
    }
  }
  
  @keyframes type2 {
    0% {
      width: 0;
    }
    1% {
      opacity: 1;
    }
    99.9% {
      border-right: .15em solid black;
    }
    100% {
      opacity: 1;
      border: none;
    }
  }
  
  @-webkit-keyframes type2 {
    0% {
      width: 0;
    }
    1% {
      opacity: 1;
    }
    99.9% {
      border-right: .15em solid black;
    }
    100% {
      opacity: 1;
      border: none;
    }
  }
  
  @keyframes type3 {
    0% {
        width: 0;
      }
      1% {
        opacity: 1;
      }
      99.9% {
        border-right: .15em solid black;
      }
      100% {
        opacity: 1;
        border: none;
      }
  }
  
  @-webkit-keyframes type3 {
    0% {
        width: 0;
      }
      1% {
        opacity: 1;
      }
      99.9% {
        border-right: .15em solid black;
      }
      100% {
        opacity: 1;
        border: none;
      }
  }
  @keyframes type4 {
    0% {
        width: 0;
      }
      1% {
        opacity: 1;
      }
      99.9% {
        border-right: .15em solid black;
      }
      100% {
        opacity: 1;
        border: none;
      }
  }
  
  @-webkit-keyframes type4 {
    0% {
        width: 0;
      }
      1% {
        opacity: 1;
      }
      99.9% {
        border-right: .15em solid black;
      }
      100% {
        opacity: 1;
        border: none;
      }
  }
  @keyframes type5 {
    0% {
        width: 0;
      }
      1% {
        opacity: 1;
      }
      99.9% {
        border-right: .15em solid black;
      }
      100% {
        opacity: 1;
        border: none;
      }
  }
  
  @-webkit-keyframes type5 {
    0% {
        width: 0;
      }
      1% {
        opacity: 1;
      }
      99.9% {
        border-right: .15em solid black;
      }
      100% {
        opacity: 1;
        border: none;
      }
  }
  @keyframes type6 {
    0% {
        width: 0;
      }
      1% {
        opacity: 1;
      }
      99.9% {
        border-right: .15em solid black;
      }
      100% {
        opacity: 1;
        border: none;
      }
  }
  
  @-webkit-keyframes type6 {
    0% {
        width: 0;
      }
      1% {
        opacity: 1;
      }
      99.9% {
        border-right: .15em solid black;
      }
      100% {
        opacity: 1;
        border: none;
      }
  }
 
  @keyframes blink {
    50% {
      border-color: transparent;
    }
  }
  @-webkit-keyframes blink {
    50% {
      border-color: tranparent;
    }
  }


.pic img{
    border-radius: 50%;
    height: 400px;
    position: absolute;
    left: 15%;
    top: 21%;
}

.about{
    
    width: 500px;
    
    margin-left: 50%;
    margin-top: 13%;
    
}

@media screen and (max-width:880px) 
{
  .about p{
    color: #2c3e50;
    font-size: 1.2rem;
    margin-right: 0%;
    width: 100vw;
  
  }
  .about{
    position: absolute;
    top: 55%;
    left: 75px;
    
    margin-left: 0;
    margin-right: 0;
    
    margin-right: 0;
    word-wrap: break-word;
  }
  .pic{
    
    padding: 0;
  }
  .pic img{
    position: absolute;
    top: 10%;
    left: 20%;
    border: none;
    margin: 0;
    padding: 0;
    border-radius: 0%;
    
    


    
    
  }
  
}