@import url('https://fonts.googleapis.com/css2?family=Fredoka&display=swap');

.skill-container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10%;
    min-height: fit-content;
    
    margin-top: 2%;
}
.skill-parent {
    display: flex;
    align-items: center;
    
  }

  .skill-title h1{
    
    font-weight: 700;
   color: white;
    
  }
  .skill-content{
      display: flex;
      justify-content:center;
      align-content: center;
      flex-direction: row;
      gap: 12px;
      flex-wrap: wrap;
      
  }
  .card{
      display: flex;
      justify-content: space-between;
      padding: 10px;
      width: 350px;
      cursor: crosshair;
  }
 .card:hover{
     transform: scale(1.05);
     transition: 0.2s ease-out;
 }
  .skill-para{
      text-align: justify;
      padding: 5px 15px 0 15px;
  }
  .text{
      font-size: 30px;
     
      padding-top: 15px;
  }
  